page-detalhe {

	h2{
		margin-top: 0;
	}
	.espacamento{
		span{
			padding-right: 10px;
		}
	}
	.texto-sem-quebrar {
		white-space: normal;
	}
	.botao-na-linha {
		display: inline-block;
		text-align: center;
		padding-right: 10px;
		position: relative;
		button{
			color: map-get($colors, flixWhite);;
			background: transparent;
		}
		ion-fab{
			position: relative;
			button{
				background: transparent;
				box-shadow: none;
				padding: 0;
				margin: 0;
				margin-bottom: 3px;
				&.fab-close-active{
					border: 2px solid #fff
				}
			}
			ion-fab-list{
				background-color: rgba($color: #fff, $alpha: 0.5);
				background-size: cover;
				justify-content: space-between;
				flex-direction: row;
				margin-left: -30px;
				margin-bottom: 45px;
				button{
					background: map-get($colors, flixGray);
					margin: 10px;
					border: 2px solid #fff
				}
			}
		}
	}
	small {
		display: block;
	}
	.efeito-icone {
		background-color: rgba(0, 0, 0, 0.3);
		width: 30%;
		border-radius: 50%;
	}
	.topo {
		text-align: center;
		line-height: 12;
	}
	.imagem-topo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.scroll-content {
		background-color: map-get($colors, flixGray);
		margin-top: 0 !important;
		color: map-get($colors, flixWhite);
	}
}
