<ion-header>
	<ion-navbar color="flixDark">
		<img src="assets/imgs/cloneflix_logo.png" class="logo">
		<ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="search"></ion-icon>
			</button>
			<button ion-button icon-only>
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list class="borda">
		<ion-item *ngFor="let categoria of continuarAssitindo" class="listagem">
			<ion-label class="espaco">
				{{ categoria.nome}}

				<ion-slides loop="true" pager="false" slidesPerView="1.05" spaceBetween="5">
					<ion-slide *ngFor="let video of categoria.videos">
						<ion-card class="capa-filme" (tap)="detalhe()">
							<ion-icon name="play" class="play-play" ></ion-icon>
							<ion-icon name="radio-button-off" class="circulo-play"></ion-icon>
							<ion-icon name="ios-information-circle-outline" class="info-video"></ion-icon>
							<img src="{{video.url}}" />
							<ion-label class="titulo-video">{{video.nome}}</ion-label>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-label>
		</ion-item>

		<ion-item *ngFor="let categoria of categorias" class="listagem">
			<ion-label class="espaco">
				{{ categoria.nome }}

				<ion-slides loop="true" pager="false" slidesPerView="3.2" spaceBetween="10">
					<ion-slide *ngFor="let imagem of categoria.imagens">
						<ion-card class="capa-filme">
							<img src="{{imagem.url}}" />
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
