page-home {
	.titulo-video {
		position: fixed;
		bottom: 2.5%;
		left: 5%;
	}
	ion-icon[name='radio-button-off'],
	ion-icon[name='information-circle'],
	ion-icon[name='play'] {
		font-size: 5em;
		color: map-get($colors, flixWhite);
		position: fixed;
		top: 35%;
		left: 35%;
	}
	ion-icon[name='information-circle']{
		font-size: 2em;
		top: 76%;
		left: 81%;
	}
	ion-icon[name='play'] {
		font-size: 3em;
		top: 42%;
		left: 42%;
	}
	.espaco {
		margin: 0;
		padding: 0;
	}
	.logo {
		width: 40%;
		padding: 0;
		margin: 0;
	}
	.capa-filme {
		margin: 0;
		width: 100%;
	}
	.borda .item-block .item-inner {
		border-bottom: none;
	}
	.listagem {
		width: 100%;
		background-color: map-get($colors, flixGray);
		padding-left: 0;
		color: map-get($colors, flixWhite);
	}
	.scroll-content {
		background-color: map-get($colors, flixGray);
	}
}
