page-home {
	.titulo-video {
		position: fixed;
		bottom: 2.5%;
		left: 2%;
		margin: 0;
	}
	.info-video {
		color: map-get($colors, flixWhite);
		position: fixed;
		font-size: 2em;
		bottom: 2.5%;
		right: 2%;
	}
	.circulo-play{
		font-size: 5em;
		color: map-get($colors, flixWhite);
		position: fixed;
		top: 30%;
		left: 41%;
	}
	.play-play{
		color: map-get($colors, flixWhite);
		position: fixed;
		font-size: 2.7em;
		top: 41%;
		left: 48%;
	}
	.espaco {
		margin: 0;
		padding: 5px 0;
	}
	.logo {
		width: 40%;
		padding: 0;
		margin: 0;
	}
	.capa-filme {
		margin: 0;
		width: 100%;
	}
	.borda .item-block .item-inner {
		border-bottom: none;
		padding-right: 0;
	}
	.listagem {
		width: 100%;
		background-color: map-get($colors, flixGray);
		padding-left: 0;
		color: map-get($colors, flixWhite);
	}
	.scroll-content {
		background-color: map-get($colors, flixGray);
		padding-right: 0 !important;
	}
}
